body {
	margin: auto;
	padding: 0px;
	max-width: 1493px;
	font-family: Arial, serif ;
	text-align: justify;
	border: 1px solid black;
}

#block_0 {
	font-size: 50px;
	font-family: arial;
	width: auto;
	height: auto;
	text-align: center;
	text-transform: uppercase;
	font-weight: bolder;
	color: darkseagreen;
}

#block_1 {
	text-transform: uppercase;
	width: auto;
	height: 60px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	background-color: lightcyan;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#block_1 ul {
	line-height: 30px;
	background-color: yellow;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

#block_1 li {
	display: inline;
	background-color: white;
	border-style: solid;
	border-radius: 3px;
	border-width: 2px;
	border-color: red;
}

#block_1 a {
	color: #444;
	text-decoration: none;
	display: inline-block;
	width: 100px;
}

#block_1 a:hover {
	border-color: yellow;
}

#clearfix {
	overflow: hidden;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#block_2 {
	position: relative;
	padding: 0px;
	background: white;
	margin-right: 199px;
	height: 1800px;
	border: 1px solid blue;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#block_2_1 {
	width: 400px;
	height: 300px;
	border: 1px solid black;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 0;
	margin: 0;
	overflow: auto;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#block_2_2 {
	width: 400px;
	height: 400px;
	border: 1px solid black;
	position: absolute;
	right: 0px;
	top: 300px;
	padding: 10px;
	overflow: auto;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#block_2_3 {
	width: 400px;
	height: 400px;
	border: 1px solid black;
	position: absolute;
	right: 0px;
	top: 700px;
	padding: 10px;
	overflow: auto;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#block_2_4 {
	position: absolute;
	right: 0px;
	top: 1100px;
	width: 400px;
	height: 400px;
	margin: 0;
	border: 1px solid black;
	padding: 10px;
	overflow: auto;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#block_2_5 {
	position: absolute;
	left: 400px;
	top: 0px;
	width: 492px;
	height: 1500px;
	margin: 0px;
	padding: 0px;
	border: 1px solid red;
	padding: 0;
	overflow: auto;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*make map image smaller*/
.container {
	width: 485px;
	height: 485px;
}

.container img {
    width: 100%;
    height: auto;
}

#block_2_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 400px;
	height: 750px;
	margin: 0;
	border: 1px solid black;
	padding: 0;
	overflow: auto;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#block_2_7 {
	position: absolute;
	left: 0px;
	top: 750px;
	width: 400px;
	height: 750px;
	margin: 0;
	border: 1px solid black;
	padding: 10px;
	overflow: auto;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

#block_2_8 {
	position: absolute;
	left: 0px;
	top: 1500px;
	width: 1293px;
	height: 300px;
	margin: 0;
	border: 2px solid black;
	padding: 10px;
	overflow: auto;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#footer{
	text-transform: uppercase;
	width: auto;
	height: 60px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background-color: lightcyan;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#block_3 {
	padding: 5px;
	float: right;
	width: 200px;
	height: 1800px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background: lightgrey;
	-webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
    box-sizing: border-box;
}

#block_3 ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    line-height: 40px; /*vertical text-align*/
}

#block_3 li {
	background-color: lightyellow;
	height: 40px;
	border: 1px solid black;
	text-align: center;
}

#block_3 a {
	display: block;
}